<div class="container" ng-controller="AnnouncementsController" ng-init="getUsersAnnouncements()">
    <div class="row">


        <div class="col-md-12">
            <h4>Announcement Manager</h4>
            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped">

                    <thead>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Edit</th>

                    <th>Delete</th>
                    </thead>
                    <tbody>

                    <tr ng-repeat="announcement in usersAnnouncements">
                        <td>{{announcement.title}}</td>
                        <td>{{announcement.content}}</td>
                        <td><button class="btn btn-primary btn-xs" ng-click="updateModal(announcement._id)"><span class="glyphicon glyphicon-pencil"></span></button></td>
                        <td><button class="btn btn-danger btn-xs" ng-click="deleteModal(announcement._id)"><span class="glyphicon glyphicon-trash" ></span></button></td>
                    </tr>

                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>